@model NTT.Models.Modelo
@{
    ViewBag.Title = "Mis Pedidos";
}
 
<head>
    <title>@ViewBag.Title</title>

</head>
 
    
    <style>
        p, i , a, #inn{
            color:#2A2826;
        }
          #ss, #tis{
          color: #2A2826;

        }
    </style>
    <div>

 
        <div class="container">

            <div class="col-md-12">
                <div class="table-responsive">
                    <br /><br /><br /><br />
                    <table class="table table-shopping">
                        <thead>
                            <tr> 
                                <th>Nª DE PEDIDO</th>
                                <th>FECHA DE PEDIDO</th> 
                                <th>CANTIDAD DE PRODUCTOS</th>
                                <th>PRECIO PEDIDO</th>   
                            </tr>
                        </thead>
                        <tbody>
                             @{
                                 for (int i = 0; i < Model.temp.Tables[0].Rows.Count; i++)
                                 {
                                     var Idpedido = Model.temp.Tables[0].Rows[i]["idpedido"].ToString();
                                     var fechapedido = Model.temp.Tables[0].Rows[i]["fechapedido"].ToString();
                                     var cantidad = Model.temp.Tables[0].Rows[i]["CantidadProductos"].ToString();
                                     var precio = Model.temp.Tables[0].Rows[i]["valortotal"].ToString();

                                    <tr>
                                        <td>@Idpedido</td>
                                        <td>@fechapedido</td>
                                        <td>@cantidad</td>
                                        <td>@precio</td>
                                    </tr>
                                 }
                            } 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

     
 
 
 
